<div class="container">
    <div class="footer-inner">
        <div class="footer-company">
            <!-- <a href="#" class="logo">
                <img src="./assets/icon/logo-an-khang-smart.png" alt="logo-an-khang-smart" class="logo__img" />
            </a> -->
            <h2 class="main-heading">AN KHANG <span>ELECTRIC</span></h2>
            <div class="footer-company__info">
                <img src="./assets/icon/map-marker.svg" alt="" class="footer-company__icon icon" />
                <span class="footer-company__content">VP Hà Nội: G58, Khu đô thị Xa La, Hà Đông, TP. Hà Nội</span>
            </div>
            <div class="footer-company__info">
                <img src="./assets/icon/map-marker.svg" alt="" class="footer-company__icon icon" />
                <span class="footer-company__content"
                    >VP Đà Nẵng: Lô 9 KĐT Phương Trang, Đ.Hoàng Thị Loan, P.Hòa Minh, Q.Liên Chiểu,TP. Đà Nẵng</span
                >
            </div>
            <div class="footer-company__info">
                <img src="./assets/icon/map-marker.svg" alt="" class="footer-company__icon icon" />
                <span class="footer-company__content"
                    >VP Hồ Chí Minh: 281 Nam Kỳ Khởi Nghĩa, P.14, Q.3, TP. Hồ Chí Minh</span
                >
            </div>
            <div class="footer-company__info">
                <img src="./assets/icon/call-incoming.svg" alt="" class="footer-company__icon icon" />
                <a href="tel:0587666456" class="footer-company__content">0587.666.456</a>
            </div>
            <div class="footer-company__info">
                <img src="./assets/icon/mail.svg" alt="" class="footer-company__icon icon" />
                <a href="mailto:tbd.ankhang@gmail.com" class="footer-company__content">tbd.ankhang@gmail.com</a>
            </div>
        </div>
    </div>
</div>
