<!-- Công tắc thông minh Hunonic -->
<section class="home-body">
    <div class="product-details">
        <h2 id="Aptomat-MCB-LS" class="product-details__heading">Công tắc - ổ cắm thông minh Hunonic</h2>
        <div class="product-group">
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/Công tắc- ổ cắm Datic/1-nút-màu-đen-trơn.jpg"
                                    alt="Công tắc - ổ cắm Datic hình chữ nhật"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Công tắc - ổ cắm Datic hình chữ nhật (DTSW)</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/Công tắc- ổ cắm Premium/hen gio vuông premium.jpg"
                                    alt="Công tắc - ổ cắm Datic hình vuông"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Công tắc - ổ cắm Datic hình vuông</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/Công tắc- ổ cắm Luxury/cong-tac-thong-minh-hunonic-luxury-(44).jpg
                                    "
                                    alt="Công tắc - ổ cắm Luxury hình chữ nhật"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Công tắc - ổ cắm Luxury hình chữ nhật</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/Công tắc- ổ cắm Premium/hen gio vuông premium.jpg"
                                    alt="Công tắc - ổ cắm Luxury hình Vuông"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Công tắc - ổ cắm Luxury hình Vuông</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/Công tắc- ổ cắm Premium/cong-tac-thong-minh-hunonic-premium-1-nut (4).jpg"
                                    alt="Công tắc - ổ cắm Premium hình chữ nhật"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Công tắc - ổ cắm Premium hình chữ nhật</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/Công tắc- ổ cắm Premium/hen gio vuông premium.jpg"
                                    alt="Công tắc - ổ cắm Premium hình Vuôngc"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Công tắc - ổ cắm Premium hình Vuông</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Bộ điều khiển tích hợp Hunonic -->
<section class="home-body">
    <div class="product-details">
        <h2 id="Aptomat-MCB-LS" class="product-details__heading">Bộ điều khiển tích hợp Hunonic</h2>
        <div class="product-group">
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/Datic-Basic/cong-tac-dieu-khien-tu-xa-datic-basic.jpg"
                                    alt="Công tắc điều khiển từ xa Datic Basic (DTBS01)"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Công tắc điều khiển từ xa Datic Basic (DTBS01)</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/Lahu/cong-tac-dieu-khien-tu-xa-lahu.png"
                                    alt="Công tắc điều khiển từ xa Lahu (Lahu)"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Công tắc điều khiển từ xa Lahu (Lahu)</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/Noma/noma mới.png"
                                    alt="Công Tắc điều khiển từ xa Noma 4CH (HNnoma)"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Công Tắc điều khiển từ xa Noma 4CH (HNnoma)</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/Hunonic-Mini/mini 1.png"
                                    alt="Công Tắc điều khiển từ xa Hunonic Mini (HNmini)"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Công Tắc điều khiển từ xa Hunonic Mini (HNmini)</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Cảm biến thông minh -->
<section class="home-body">
    <div class="product-details">
        <h2 id="Aptomat-MCB-LS" class="product-details__heading">Cảm biến thông minh</h2>
        <div class="product-group">
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/Cảm biến cầu thang/cam-bien-cau-thang8.jpg"
                                    alt="Cảm biến cầu thang"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Cảm biến cầu thang</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/Cảm biến hiện diện/cam-bien-hien-dien-op-tran.jpg"
                                    alt="Cảm biến hiện diện"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Cảm biến hiện diện</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/Cảm biến nhiệt độ- độ ẩm/cam-bien-nhiet-am-hunonic-wifi-.jpg"
                                    alt="Cảm biến nhiệt độ và độ ẩm"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Cảm biến nhiệt độ và độ ẩm</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/Cảm biến cửa/cảm biến cửa.jpg"
                                    alt="Cảm biến cửa"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Cảm biến cửa</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/Cảm biến chuyển động/cảm biến CĐ.jpg"
                                    alt="Cảm biến chuyển động"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Cảm biến chuyển động</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/Cảm biến khói/cảm biến khói.jpg"
                                    alt="Cảm biến khói"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Cảm biến khói</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Ổ cắm thông minh -->
<section class="home-body">
    <div class="product-details">
        <h2 id="Aptomat-MCB-LS" class="product-details__heading">Ổ cắm thông minh</h2>
        <div class="product-group">
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/Ổ cắm thông minh/o-cam-thong-minh-hunonic-sk01.jpg"
                                    alt="Ổ cắm thông minh SK01"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Ổ cắm thông minh SK01</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/Ổ cắm thông minh/o-cam-quat-thong-minh-hunonic-sk18.jpg"
                                    alt="Ổ cắm quạt thông minh SK18"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Ổ cắm quạt thông minh SK18</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Bộ điều khiển trung tâm -->
<section class="home-body">
    <div class="product-details">
        <h2 id="Aptomat-MCB-LS" class="product-details__heading">Bộ điều khiển trung tâm</h2>
        <div class="product-group">
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/Bộ điều khiển trung tâm/bo-dieu-khien-trung-tam-hunonic-home-server-1-1-600x600.jpg"
                                    alt="Bộ Điều Khiển Trung Tâm Hunonic Home Server"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Bộ Điều Khiển Trung Tâm Hunonic Home Server</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/Bộ điều khiển trung tâm/bo-dieu-khien-tivi-dieu-hoa-tu-xa-bang-dien-thoai-hunonic-ir-smart-4.jpg"
                                    alt="Bộ điều khiển Tivi, Điều Hoà qua điện thoại, Hunonic IR Smart"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">
                                Bộ điều khiển Tivi, Điều Hoà qua điện thoại, Hunonic IR Smart
                            </h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-group__list">
                <div class="product-group__item">
                    <a href="">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <img
                                    src="/assets/img/thong-minh/hunonic/Bộ điều khiển trung tâm/bo-dieu-khien-cong-tu-dong.jpg"
                                    alt="Bộ điều khiển cổng tự động HUNONIC GATE"
                                    class="product-item__img"
                                    loading="lazy"
                                />
                            </div>
                            <h3 class="product-item__heading">Bộ điều khiển cổng tự động HUNONIC GATE</h3>
                            <div class="product-item__brand">
                                <img
                                    src="/assets/img/thong-minh/hunonic/icon/logo hunonic.png"
                                    alt="thiết bị điện Hunonic"
                                    class="icon"
                                    loading="lazy"
                                />
                                <p>HUNONIC</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
