<div class="related-main">
    <div class="document-price">
        <a href="">
            <div class="document-price__item">
                <img src="./assets/icon/file-download.svg" alt="" class="icon" />
                <span>Catalogue Chint</span>
            </div>
        </a>
        <a href="">
            <div class="document-price__item">
                <img src="./assets/icon/file-download.svg" alt="" class="icon" />
                <span>Bảng giá Chint</span>
            </div>
        </a>
    </div>
    <div class="related-products">
        <div class="related-products__list">
            <a href="">
                <div class="related-products__item">
                    <img src="./assets/icon/feedback-review.svg" alt="" class="icon" />
                    <span>Aptomat khối MCCB Chint</span>
                </div>
            </a>
            <a href="">
                <div class="related-products__item">
                    <img src="/assets/img/tbdcn/chint/NXB-63-1P.png" alt="" class="icon" />
                    <span>Aptomat Cài MCB Chint</span>
                </div>
            </a>
            <a href="">
                <div class="related-products__item">
                    <img src="/assets/img/tbdcn/chint/NXB-63-1P.png" alt="" class="icon" />
                    <span>Aptomat chống giật ELCB, RCBO, RCCB</span>
                </div>
            </a>
            <a href="">
                <div class="related-products__item">
                    <img src="./assets/icon/feedback-review.svg" alt="" class="icon" />
                    <span>Khởi động từ (contactor) Chint</span>
                </div>
            </a>
            <a href="">
                <div class="related-products__item">
                    <img src="./assets/icon/feedback-review.svg" alt="" class="icon" />
                    <span>Rơ le nhiệt (relay nhiệt) Chint</span>
                </div>
            </a>
            <a href="">
                <div class="related-products__item">
                    <img src="./assets/icon/feedback-review.svg" alt="" class="icon" />
                    <span>ACB (Máy cắt không khí) Chint</span>
                </div>
            </a>
            <a href="">
                <div class="related-products__item">
                    <img src="./assets/icon/feedback-review.svg" alt="" class="icon" />
                    <span>Bộ chuyển nguồn ATS Chint</span>
                </div>
            </a>
            <a href="">
                <div class="related-products__item">
                    <img src="./assets/icon/feedback-review.svg" alt="" class="icon" />
                    <span>Cầu dao cách ly (Bộ ngắt kết nối) Chint</span>
                </div>
            </a>
            <a href="">
                <div class="related-products__item">
                    <img src="./assets/icon/feedback-review.svg" alt="" class="icon" />
                    <span>Phụ kiện đấu nối chint</span>
                </div>
            </a>
            <a href="">
                <div class="related-products__item">
                    <img src="./assets/icon/feedback-review.svg" alt="" class="icon" />
                    <span>Biến tần Chint</span>
                </div>
            </a>
        </div>
    </div>
</div>
